@use 'tailwindcss/base.css';
@use 'tailwindcss/components.css';
@use 'tailwindcss/utilities.css';

.dialogue-custom {
  @apply bg-midnightblue #{!important};
  @apply p-4;
}

.sidebar {
  @apply bg-midnightblue;
  @apply border-r-2;
  @apply border-amber-500;
  @apply p-4;

  & * {
    @apply text-white;
  }
  
  & .homepage-link {
    @apply mb-6;
    
    & img {
      width: calc(300px * 0.5);
    }
  }

  width: 300px;
}

.dashboard-main-view {
  @apply bg-midnightblue;
  width: calc(100% - 300px);
}