@keyframes zoom-in-out {
    0% {
        transform: scale(0.9) translateY(0);
    }
    50% {
        transform: scale(1.1) translateY(-20%);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}

.animate-zoom-in-out {
    animation: zoom-in-out 1s ease-in-out;
    animation-delay: 0.7s;
}
  
  .line {
    width: 0;
    height: 2px;
    background-color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
  .animate {
    animation: drawLine 1.5s forwards;
    animation-delay: 0.5s;
  }

  @media (max-width: 1920px) {
    @keyframes drawLine {
      100% {
        width: 40%;
      }
    }
  }
  
    @media (max-width: 720px) {
      @keyframes drawLine {
        100% {
          width: 25%;
        }
      }
    }
 
  .image-container {
    position: relative;
    overflow: hidden;
  }
  
  .image-container img {
    transition: transform 0.3s ease;
  }
  
  .image-container:hover img {
    transform: scale(1.1);
  }
  
.line2 {
    width: 0;
    height: 2px;
    background-color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  
.animate::before {
    animation: drawLine2 1.5s forwards;
    animation-delay: 0.5s;
  }

  @media (max-width: 1920px) {
    @keyframes drawLine2 {
      100% {
        width: 40%;
      }
    }
  }
  
  @media (max-width: 720px) {
    @keyframes drawLine2 {
      100% {
        width: 25%;
      }
    }
  }

  @media (max-width: 400px) {
    @keyframes drawLine2 {
      100% {
        width: 80%;
      }
    }
  }